/* Aquí dentro puedo colocar reglas css */
@import url('https://fonts.googleapis.com/css?family=Roboto');
* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
    .alinear-izquierda{
        flex-direction: row;
    }
    .alinear-derecha{
        flex-direction: row-reverse;
    }
    .centro{
        justify-content: center;
        align-items: center;
        
    }

    .contenedor{
        display: flex;
        flex-direction: column;
    }
    .xl-contenedor{
        width: 100%;    
    }
    .l-contenedor{
        width: 75%;
        margin-right: 12.5%;
        margin-left: 12.5%;   
    }
    .m-contenedor{
        width: 50%;    
        margin-right: 25%;
        margin-left: 25%;
    }
    .s-contenedor{
        width: 25%; 
        margin-right: 37.5%;
        margin-left: 37.5%;       
    }
    .sin-margen{
        margin: 0;
    }
    /*NAVBAR ELEMENT*/
    /*NAVBAR ELEMENT*/
    /*NAVBAR ELEMENT*/

    .navbar{
    /*main component of navbar. Cancontain a Logo, a Title, and a list of items. Modifies a div*/
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: black;
        align-items: center;
        
    }
    .navbar-branding{
        display: flex;
        flex-direction: row;
        color: white;
        margin: 0;
    }
    .navbar-logo-blanco{
        display: flex;
        width: 100%;
        max-width: 100px;
    /*site logo used in navbar. Modifies a div*/
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(179deg) brightness(103%) contrast(102%);
    }
    .navbar-titulo{
    /*title for the application. Modifies a div*/
        display: flex;
        color: inherit;
    }
    .navbar-items{
        display: flex;
        list-style: none;
        justify-content: space-around;
    }
    .navbar-item{
        display: flex;
        color: white;
        justify-content: space-around;
        margin: 0;
    }
    .navbar-link{
        display: flex;
        color: white;
        margin: 0;
        text-decoration: none;
    }

    /* HERO ELEMENT */
    /* HERO ELEMENT */
    /* HERO ELEMENT */
    .hero{
        /*media block that can have a background image, a title, a description and a button. Modifies a div*/
        display: flex;
        flex-direction: column;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 300px;
        color: white;

    }
    .hero-titulo{
    /*Title for the Hero Block. Modifies h1*/
        display: flex;
        margin-top: 1em;
        margin-left: 17%;
        
    }
    .hero-cuerpo{
    /*Display block for the description and buttons. Modifies a p*/
        display: flex;
        flex-direction: column;
        margin-left: 17%;
        margin-bottom: 1em;
    }
    .hero-descripcion{
    /*Description for the Hero Block. Modifies a p*/
        display: flex;
        
    }
    .hero-boton-primario{
    /*button below the Hero Body.*/
        display: block;
        width: fit-content;
        min-width: 7rem;
        padding: 0.5em;
        padding-left: 1em;
        padding-right: 1em;

        border-radius: 10px;

        background-color: white;
        color: black;
        text-align: center;
    }
    .hero-boton-primario:hover{
        background-color: lightblue;
        color: white;
    }

    /* BANNER ELEMENT */
    .banner{
    /*Media Section which has the card on the left and the content on the right. Modifies a div*/
        display: flex;
        height: 500px;
        padding: 3em;
        
    }
    .banner-interior{
        /*Media Section which has the card on the left and the content on the right. Modifies a div*/
            display: flex;
            background-color: lightblue;
            border: 10px;
            border-radius: 1rem;
        
        }
    .banner-tarjeta{
    /*modifies a card to be placed within a Banner*/
        display: flex;
        width: 40%;
        background-color: black;
        border: 10px;
        border-radius: 1rem;
        justify-content: center;
        align-items: center;
        overflow: hidden
    }

    .banner-tarjeta img {
        display: flex;
        border-radius: 1rem;      
        object-fit: cover;
        object-position: center;
      }
    .banner-cuerpo{
        display: flex;
        width: 60%;
        flex-direction: column;
        margin-left: 2rem;
        margin-right: 2rem;
    /**/
    }
    .banner-cuerpo-titulo{
        height: fit-content;
    /**/
    }
    .banner-cuerpo-texto{
        word-wrap: break-word;
    /**/
    }
    .banner-cta{
       font-weight: 100px; 
    }

    .footer{
        background-color: crimson;
        color: white;
    }